# LOCs for MCB interface to get timing closure

INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_0_0"  LOC = SLICE_X2Y28 | BEL = D5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_1_0"  LOC = SLICE_X2Y28 | BEL = C5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_2_0"  LOC = SLICE_X2Y28 | BEL = B5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_3_0"  LOC = SLICE_X2Y28 | BEL = A5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_4_0"  LOC = SLICE_X2Y28 | BEL = D6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_5_0"  LOC = SLICE_X2Y28 | BEL = C6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_6_0"  LOC = SLICE_X2Y28 | BEL = B6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_7_0"  LOC = SLICE_X2Y28 | BEL = A6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_8_0"  LOC = SLICE_X2Y27 | BEL = D5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_9_0"  LOC = SLICE_X2Y27 | BEL = C5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_10_0" LOC = SLICE_X2Y27 | BEL = B5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_11_0" LOC = SLICE_X2Y27 | BEL = A5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_12_0" LOC = SLICE_X2Y27 | BEL = D6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_13_0" LOC = SLICE_X2Y27 | BEL = C6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_14_0" LOC = SLICE_X2Y27 | BEL = B6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_15_0" LOC = SLICE_X2Y27 | BEL = A6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_16_0" LOC = SLICE_X2Y29 | BEL = D5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_17_0" LOC = SLICE_X2Y29 | BEL = C5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_18_0" LOC = SLICE_X2Y29 | BEL = B5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_19_0" LOC = SLICE_X2Y29 | BEL = A5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_20_0" LOC = SLICE_X2Y29 | BEL = D6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_21_0" LOC = SLICE_X2Y29 | BEL = C6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_22_0" LOC = SLICE_X2Y29 | BEL = B6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_23_0" LOC = SLICE_X2Y29 | BEL = A6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_24_0" LOC = SLICE_X2Y30 | BEL = D5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_25_0" LOC = SLICE_X2Y30 | BEL = C5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_26_0" LOC = SLICE_X2Y30 | BEL = B5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_27_0" LOC = SLICE_X2Y30 | BEL = A5LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_28_0" LOC = SLICE_X2Y30 | BEL = D6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_29_0" LOC = SLICE_X2Y30 | BEL = C6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_30_0" LOC = SLICE_X2Y30 | BEL = B6LUT;
INST "fpga_core_inst/ram1_p0_rd_fifo/Mshreg_read_data_31_0" LOC = SLICE_X2Y30 | BEL = A6LUT;

INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_0_0"  LOC = SLICE_X34Y28 | BEL = D5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_1_0"  LOC = SLICE_X34Y28 | BEL = C5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_2_0"  LOC = SLICE_X34Y28 | BEL = B5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_3_0"  LOC = SLICE_X34Y28 | BEL = A5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_4_0"  LOC = SLICE_X34Y28 | BEL = D6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_5_0"  LOC = SLICE_X34Y28 | BEL = C6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_6_0"  LOC = SLICE_X34Y28 | BEL = B6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_7_0"  LOC = SLICE_X34Y28 | BEL = A6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_8_0"  LOC = SLICE_X34Y30 | BEL = D5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_9_0"  LOC = SLICE_X34Y30 | BEL = C5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_10_0" LOC = SLICE_X34Y30 | BEL = B5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_11_0" LOC = SLICE_X34Y30 | BEL = A5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_12_0" LOC = SLICE_X34Y30 | BEL = D6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_13_0" LOC = SLICE_X34Y30 | BEL = C6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_14_0" LOC = SLICE_X34Y30 | BEL = B6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_15_0" LOC = SLICE_X34Y30 | BEL = A6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_16_0" LOC = SLICE_X34Y29 | BEL = D5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_17_0" LOC = SLICE_X34Y29 | BEL = C5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_18_0" LOC = SLICE_X34Y29 | BEL = B5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_19_0" LOC = SLICE_X34Y29 | BEL = A5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_20_0" LOC = SLICE_X34Y29 | BEL = D6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_21_0" LOC = SLICE_X34Y29 | BEL = C6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_22_0" LOC = SLICE_X34Y29 | BEL = B6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_23_0" LOC = SLICE_X34Y29 | BEL = A6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_24_0" LOC = SLICE_X34Y27 | BEL = D5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_25_0" LOC = SLICE_X34Y27 | BEL = C5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_26_0" LOC = SLICE_X34Y27 | BEL = B5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_27_0" LOC = SLICE_X34Y27 | BEL = A5LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_28_0" LOC = SLICE_X34Y27 | BEL = D6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_29_0" LOC = SLICE_X34Y27 | BEL = C6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_30_0" LOC = SLICE_X34Y27 | BEL = B6LUT;
INST "fpga_core_inst/ram2_p0_rd_fifo/Mshreg_read_data_31_0" LOC = SLICE_X34Y27 | BEL = A6LUT;
